<%= form_for (@task) do |f| %>
 <div>
    <%= f.label :title %><br />
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div>
    <%= f.label :details %><br />
    <%= f.text_field :details, class: 'form-control' %>
  </div>

  <%= f.submit %>
<% end %>
